# pattern of dotted directory without backslash
.vscode

# pattern of directory with trailing backslash
out/

# pattern of file name
*.log

# https://github.com/microsoft/vscode-vsce/issues/588
foo
!foo/bar/hello.txt